In [1]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt

In [12]:
df_occ = pd.read_excel("./data/Occupation Data.xlsx")
df_jz = pd.read_excel("./data/Job Zones.xlsx")
df_jzf = pd.read_excel("./data/Job Zone Reference.xlsx")
df_int = pd.read_excel("./data/Interests.xlsx")
df_know = pd.read_excel("./data/Knowledge.xlsx")
df_skill = pd.read_excel("./data/Skills.xlsx")
df_tools = pd.read_excel("./data/Tools Used.xlsx")
df_tech = pd.read_excel("./data/Technology Skills.xlsx")
df_scale = pd.read_excel("./data/Scales Reference.xlsx")
df_cont = pd.read_excel("./data/Content Model Reference.xlsx")
df_edu = pd.read_excel("./data/Education, Training, and Experience Categories.xlsx")

In [15]:
df_scale.head(10)

  Scale ID                          Scale Name  Minimum  Maximum
0       AO                          Automation        1        5
1       CF                           Frequency        1        5
2       CN                   Amount of Contact        1        5
3       CT                             Context        1        3
4      CTP            Context (Categories 1-3)        0      100
5       CX                             Context        1        5
6      CXP            Context (Categories 1-5)        0      100
7       EX                              Extent        1        7
8       FM                   Amount of Freedom        1        5
9       FT  Frequency of Task (Categories 1-7)        0      100